body {
  font-family: "Markazi Text", serif;
  justify-content: center;
}

.svg-container {
  background-color: none;
  position: absolute;
  /* display: flex; */
}

.vsc-initialized {
  background-image: url(./ref_bg.jpg);
  background-repeat: no-repeat;
}

.circley {
  /* display: flex; */
}
.header {
  color: white;
}

.infobox {
  top: 0px;
  position: absolute;
  font-size: 36px;
  text-align: center;
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  height: 300px;
  width: 500px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 0px -100px;
}

.ccc {
  opacity: 1;
}

.continent {
  margin: 20px;
  color: #bf9aca;
  padding: 20px;
  width: 90px;
  text-align: center;
  display: flex;
  border: 1px solid white;
  background-color: #694873;
  background: transparent;
}
.combine {
  margin: 20px;
  background-color: #694873;
  text-align: center;
  border: 1px solid white;
  color: #bf9aca;
  padding: 20px;
  width: 90px;
  background: transparent;

  display: flex;
}
.ao,
.year {
  margin: 20px;
  background-color: #694873;
  text-align: center;
  border: 1px solid white;
  color: #bf9aca;
  padding: 20px;
  width: 90px;
  border-radius: 0;
  display: flex;

  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;

  position: relative;
  z-index: 10;
  font-size: 1em;
}

.ao {
  width: 160px;
}
.year {
  width: 75px;
}
#chart {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
